* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #F9F9F9;
    font-family: 'Poppins';

}
.right {
    width: 6%;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    background-color: #ffffff;
    gap: 30px;
}
.nav-img {
    width: 24px;
    height: 24px;
}
.nav-page {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(179, 205, 253, 0.1), rgba(193, 212, 249, 0.52));; 
}

.center {
    width: 94%;
    padding: 22px;
    display: flex;
    flex-direction: column;
    gap: 22px
}
.head {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
}
.head1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.head div {
    font-size: 24px;
    font-weight: 500;
}
.head .text2 {
    font-size: 14px;
    color: rgb(134, 134, 134);
}
.head2 {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px
}
.head-img {
    width: 40px;
    height: 40px;
    border-radius: 7px;
}
.search{
    display: flex;
    align-items: center;
}
.head-img2 {
    width: 18px;
    height: 16px;
    position: absolute;
    margin-left: 15px;
}
.head-input {
    width: 260px;
    height: 32px;
    text-indent: 38px;
    border: #F9F9F9;
    border-radius: 8px;
    color: #ADA7A7;
    font-family: 'Poppins';
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-img {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #C7E0FF, #E5DDE0, #FFF4E0); 
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.main-body {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 22px;
    gap: 20px;
}
.main-body-img {
    width: 80px;
    height: 80px;
}

.main-body-1 {
    display: flex;
    justify-content: space-between;
}
.main-body-img-1 {
    width: 80px;
    height: 6vh;
    background-color: #4182F9;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body-2 {
    width: 30%;
}
.main-body-3 {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.text1{
    font-size: 18px;
    font-weight: 700;
}
.text2 {
    font-size: 16px;
    color: #ADA7A7;
}
.text3 {
    font-size: 18px;
    font-weight: 800;
}
.input {
    height: 52px;
    background-color: #F9F9F9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    color:  rgb(186, 186, 186);
    font-size: 16px;
}
.input-img {
    width: 24px;
    height: 24px;
}
.label {
    font-size: 16px;
}
.form-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.form-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%
}
.main-body-input {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.main-body-1_2 {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.main-body-1_2-add {
    width: 75%;
    background-color: #bed6ff;
    color: #7aa8fe;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}