@media (max-width: 700px) {
    .mobile-menu {
        display: block;
    }
    .none {
        display: none;
    }

    /* === HEADER === */
    .header {
        justify-content: space-between;
        max-width: 360px;
        padding: 32px 0 0 0;
    }
    .nav {
        display: none;
    }

    /* === HERO === */
    .hero-1 {
        margin-top: 31px;
    }
    .hero-title {
        font-size: 37.9px;
        line-height: 47px;
        width: 100%;
        max-width: 360px;
    }
    .hero-subtitle {
        width: 100%;
        max-width: 360px;
    }
    .hero-button {
        width: 211px;
    }

    /* === GALLERY === */
    .gallery-container {
        flex-direction: column;
        max-width: 100%;
        gap: 28px;
        align-items: center;
    }
    .image {
        max-width: 356px;
        width: 100%;
        height: 391px;
    }

    /* === SECTION COMMON === */
    .section {
        gap: 36px;
        padding-bottom: 60px;
    }

    /* === SECTION 1 === */
    .section-1 {
        flex-direction: column;
        gap: 196px;
        max-width: 100%;
        width: 100%;
        height: 676px;
    }
    .section-container {
        gap: 35px;
        width: 260px;
    }
    .section-content {
        flex-direction: column;
        gap: 26px;
        height: auto;
    }
    .section-content-1 {
        width: 260px;
        align-items: center;
    }
    .section-title {
        font-size: 39.7px;
        line-height: 53px;
        width: 260px;
        padding-top: 2px;
        text-align: center;
    }
    .section-head-1 .section-title {
        width: 100%;
        padding-top: 0;
    }
    .section-container-3 .section-title {
        width: 100%;
        max-width: 281px;
    }
    .content-item {
        color: #2A2A2A;
        text-align: center;
    }
    .section-image {
        display: none;
    }

    /* === SECTION 2 === */
    .section-2 {
        flex-direction: column;
        gap: 53px;
        width: 100%;
    }
    .section-image-1 {
        max-width: 360px;
        width: 100%;
        height: 578px;
        object-fit: cover;
    }
    .section-container-1 {
        width: 100%;
        max-width: 360px;
        gap: 26px;
    }
    .section-head-1 {
        gap: 16px;
    }
    .section-content1 {
        gap: 26px;
    }
    .section-content-2 .content-item {
        color: #285E67;
        text-align: start;
    }
    .section-subtitle {
        width: 100%;
        max-width: 360px;
        text-align: center;
    }

    /* === SECTION 3 === */
    .section-3 {
        max-width: 360px;
        padding: 0;
        justify-content: center;
        width: 100%;
    }
    .section-container-3 {
        gap: 41px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .section-content-3 {
        flex-direction: column;
        gap: 41px;
    }
    .section-content-3-1 {
        width: 281px;
        align-items: center;
    }
    .content-item-3 {
        text-align: center;
        max-width: 281px;
        width: 100%;
    }
    .section-image-3 {
        display: none;
    }

    /* === SECTION 4 === */
    .section-4 {
        height: 1020px;
        max-width: 361px;
        width: 100%;
    }
    .section-img-4 {
        width: 100%;
        height: 354px;
    }
    .section-4-1 {
        top: 72.76px;
        gap: 13px;
    }
    .icon-4 {
        width: 46.56px;
        height: 41.47px;
    }
    .icon-5 {
        width: 60px;
        height: 60px;
    }
    .section-title-4 {
        font-size: 21.33px;
        line-height: 31px;
        width: 220px;
        text-align: center;
    }
    .section-subtitle-4 {
        display: none;
    }
    .section-icons-container {
        flex-direction: column;
        padding: 71px 0;
        max-width: 298px;
        gap: 49px;
        top: 115px;
        width: 100%;
    }
    .section-icons-container-1 {
        width: 245.5px;
        gap: 18px;
    }
    .icon4 {
        width: 22.24px;
        height: 24.21px;
    }

    /* === FOOTER === */
    .footer {
        height: 365px;
    }
    .header-footer {
        flex-direction: column;
        align-items: center;
        gap: 36px;
    }
    .logo-footer {
        position: relative;
        right: 35px;
    }
    .nav-footer {
        width: 155px;
        flex-wrap: wrap;
        position:relative;
        right: 5px;
    }
    .icon-container-social {
        width: 166px;
    }
}