* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
}
header {

}
.header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}
.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.img_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img_logo_1 {
    width: 23px;
    height: 19px;
}
.img_logo_2 {
    width: 23px;
    height: 12px;
}
.text_header {
    font-weight: bold;
    font-size: 40px;
    color: #003D29;
    position: relative;
    top: 2px;
}
.text_login {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: #43B02A
}
.body_1 {
    background: url("image/background.jpg") no-repeat bottom/cover;
    height: 425px;
}
.container_background {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: relative;
    top: 25px;
    left: 120px;
}
.text_background_1 {
    font-size: 46px;
    line-height: 58px;
    letter-spacing: 1px;
    color: #212121;
    font-weight: 400;
    width: 216px;
}
.text_background_2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.48px;
    color: #757575;
    font-weight: 400;
}
.button_background {
    width: 180px;
    height: 48px;
    font-size: 17px;
    line-height: 18px;
    background-color: #43B02A;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 15px 51.89px 15px 49px;
}
.body_2 {
    background-color: #00835C;
    height: 264px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text_foot_header_1 {
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    font-weight: 400;
    width: 360px;
    position: relative;
    bottom: 40px;
}
.container_button {
    width: 294px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text_container_button {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 400;
}
.button_1 {
    background-color: #43B02A;
    width: 202px;
    height: 48px;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 15px 48px 15px 48px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}



.body_3 {
    background: #F7F7F7;
    display: flex;
    justify-content: center;
}
.body_1_1 {
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 48px 64px 0px 32px;
}
.container_body_1 {
    width: 400px;
    padding: 0px 1.5px 26px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 28px;

}
.text_container_1 {
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.08px;
    color: #424242;
    font-weight: 400;
    display: flex;
}
.text_container_2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.48px;
    color: #757575;
    font-weight: 400;
}
.body_img_1 {
    width: 460px;
    height: 300px;
}
.body_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 520px;
}
.text_title_body {
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 1.08px;
    color: #424242;
    font-weight: 400;
}
.brand_body_1 {
    display: flex;
    flex-direction: row;
    height: 346px;
    gap: 64px;
}
.brand_img {
    width: 130px;
    height: 130px;
}
.brand_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 260px;
}
.brand_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 290px;
}
.brand_title {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.66px;
    color: #212121;
    font-weight: 400;
}
.brand_text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.48px;
    color: #757575;
    font-weight: 400;
    text-align: center;
    width: 245px;
}

.product_img {
    width: 145px;
    height: 139px;
}
.body_5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.main_body_1 {
    width: 1150px;
}
.product_1 {
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 0px 96px 32px 96px;
}
.text_main_body_1 {
    display: flex;
    flex-direction: column;
    padding: 16px 0px 16px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 330px;
}
.circle {
    height: 64px;
    width: 64px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 38.4px;
    background-color: #F2F8FF;
    color: #2B79C6;
}
.title_product {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.66px;
    color: #212121;
    font-weight: 400;
}
.container_product {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 26.66px 15px 26.86px;
    gap: 9px;
}
.text_product {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.48px;
    color: #757575;
    font-weight: 400;
    width: 276px;
}
.started {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.48px;
    color: #43B02A;
    font-weight: 700;
}
.product_main_body_1 {
    width: 564px;
    height: 360px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1.75px 6.95px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.product_sell {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    bottom: 15px;
}
.product_sell_head {
    display: flex;
    justify-content: space-between;
}
.sponsored {
    background: url(image/sponsored.png) no-repeat center / cover;;
    width: 85px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12.5px;
    padding: 2px 7px 2px 0;
    font-weight: bold;
}
.circle_1 {
    width: 21px;
    height: 20px;
    border: 2px solid #43B02A;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #43B02A;
}
.text_product_money {
    font-size: 17px;
    color: #424242;
    font-weight: 600;
}
.text_product_1 {
    font-size: 15px;
    color: #424242;
}
.text_product_2 {
    font-size: 15px;
    color: #757575;
}
.main_body_2 {
    width: 1150px;
    padding: 0px 96px 32px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}
.product_2 {
    display: flex;
    flex-direction: column;
    width: 540px;
    gap: 20px;

}
.text_product_2_1 {
    font-size: 16px;
    color: #757575;
}
.text_product_2_2 {
    font-size: 15px;
    color: #757575;
}
.moeny_product_2 {
    font-size: 16px;
    color: #212121;
}
.budget_1 {
    width: 410px;
}
.budget {
    width: 410px;
    height: 14px;
    background-color: #F2F8FF;
    border-radius: 10px;
}
.budget_use {
    width: 73%;
    height: 14px;
    background-color: #2B78C6;
    border-radius: 10px;
}
.budget_select {
    background: url(image/cloud.png) no-repeat center / cover;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 66%;
}
.main_body_3 {
    width: 1150px;
    padding: 0px 96px 32px 96px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.product_3_1 {
    display: flex;
    gap: 20px;
    position: relative;
    right: 147px;
}
.text_container_product_3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text_product_3_1 {
    font-size: 15px;
    color: #757575;
}
.text_product_3_2 {
    font-size: 16px;
    color: #212121;
}
.product_3 {
    display: flex;
    flex-direction: column;
    width: 550px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.product_3_2 {
    position: relative;
}
.line1 {
    position: absolute;
    width: 412px;
    top: 20px;
}
.line2 {
    position: absolute;
    width: 412px;
    top: 64.1px;
}
.line3 {
    position: absolute;
    width: 412px;
    top: 108.2px;
}
.product_3_img_1 {
    width: 412px;
    height: 108.2px;
}
.product_3_img {
    position: absolute;
    width: 412px;
    height: 85.5px;
}







footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_footer {
    font-size: 16px;
    line-height: 19.2px;
    color: #212121;
    font-weight: 400;
    padding: 40px 11.88px 70.19px 12px;
}
.text_footer_1 {
    color: #43B02A;
    text-indent: 3px;
}
